html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    line-height: 1.3;
    font-family: 'Roboto', sans-serif;
}

section {
    margin-bottom: 120px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h2 {
    font-weight: 400;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 40px;
}

a:focus, button:focus, input:focus,
.subscr__check input[type=checkbox]:focus + label:before {
    outline: 3px dotted #5d16d5;
    outline-offset: 2px;
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1030px;
    width: 95%;
}

.hidden {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(1px, 1px, 1px, 1px);
}

.purple-btn {
    background-color: #5D16D5;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    display: block;
    padding: 10px 40px;
    border: none;
    font-family: inherit;
    transition: all 0.2s ease-in-out;
}

.grey-btn {
    background-color: #C7D2E9;
    font-size: 22px;
    padding: 15px 40px;
    border-radius: 8px;
    display: block;
    width: max-content;
    color: #000;
    text-decoration: none;
    border: none;
    transition: all 0.2s ease-in-out;
}

.header-top {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 75px;
    justify-content: space-between;
    padding-top: 30px;
}

.skiplink {
    border-radius: 4px;
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 10;
    transition: top 0.3s ease-in-out;
}

.skiplink:focus {
    top: 10px;
}

.header-top__right {
    display: flex;
    align-items: center;
}

.search {
    position: relative;
    margin-right: 18px;
}

.search__input {
    background-color: #F9F9FB;
    border: 1px solid #b5c1d8;
    border-radius: 25px;
    width: 295px;
    box-sizing: border-box;
    padding: 10px 40px 10px 25px;
    height: 48px;
    font-size: 16px;
}

.search__btn {
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    z-index: 2;
    right: 15px;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.lang {
    margin-right: 10px;
}

.lang__list {
    display: flex;
    align-items: center;
}

.lang__item {
    margin-left: 8px;
    display: block;
    background-color: #C7D2E9;
    border-radius: 4px;
    font-size: 22px;
    text-transform: uppercase;
    padding: 13px 18px;
    color: #000;
}

.lang__item a {
    color: inherit;
}

.login {
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 45px;
    cursor: pointer;
}

.main-menu {
    margin-bottom: 35px;
}

.main-menu__items {
    display: flex;
    align-items: center;
}

.main-menu__item {
    margin-right: 40px;
}

.main-menu__link {
    font-size: 18px;
    color: inherit;
    text-decoration: none;
}

.main-menu__link:hover {
    text-decoration: underline;
}

.slider {
    margin-bottom: 50px;
}

.slider__item {
    position: relative;
}

.slider__btn {
    position: absolute;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 18px;
    left: 5%;
    bottom: 14%;
}

.use-nav {
    margin-bottom: 120px;
}

.use-nav__links {
    display: flex;
    align-items: center;
}

.use-nav__link {
    font-size: 22px;
    margin-right: 40px;
}

.tabs, .exhib-filter {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.tabs__btn, .exhib-filter__btn {
    margin-right: 40px;
}

.tabs__btn:not(.grey-btn),
.exhib-filter__btn:not(.grey-btn) {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 22px;
    text-decoration: underline;
    cursor: pointer;
}

.tabs__btn:not(.grey-btn):focus,
.exhib-filter__btn:not(.grey-btn):focus {
    text-decoration: none;
}

#tab-panel-1, .exhib-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 65px 45px;
}

.article__img {
    margin-bottom: 25px;
}

.article__title {
    font-weight: 400;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.2;
}

#museum .article__title {
    text-transform: uppercase;
}

.article__subtitle {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 22px;
}

.srticle__text {
    margin-top: 0;
    margin-bottom: 15px;
}

.article__link {
    color: inherit;
}


.excursion-text {
    max-width: 700px;
}

.paragraph {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 30px;
}

.paragraph__link {
    color: #5D16D5;
}

.paragraph:first-of-type .paragraph__link {
    display: block;
    width: max-content;
}

.footer {
    padding: 75px 0 95px;
    background-color: #f1f1f1;
}

.footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.add-nav {
    margin-bottom: 40px;
}

.add-nav__link{
    text-decoration: none;
    font-size: 18px;
    color: inherit;
}

.add-nav__link:hover {
    text-decoration: underline;
}

.add-nav__item {
    margin-bottom: 15px;
}

.footer__subtitle {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
}

.footer__social {
    display: flex;
    align-items: center;
}

.footer__social-link {
    margin-right: 25px;
}

.footer__social-link svg {
    display: block;
}

.subscr {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px 20px;
}

.subscr__btn {
    font-size: 18px;
    padding: 12px 20px;
    grid-column: 2;
    grid-row: 1;
    height: 44px;
}

.subscr__check {
    grid-column: 1/3;
}

.subscr__input {
    position: relative;
}

.subscr__input input {
    height: 44px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    width: 300px;
    font-size: 18px;
}

.login-form__input input {
    height: 44px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    width: 100%;
    font-size: 18px;
}

.subscr__input label {
    position: absolute;
    font-size: 15px;
    top: -15px;
    left: 0;
    background-color: #f1f1f1;
    padding: 3px 0;
    transition: padding 0.2s ease-in-out;
}

.login-form__input label {
    position: absolute;
    font-size: 15px;
    top: -15px;
    left: 0;
    background-color: #fff;
    padding: 3px 0;
    transition: padding 0.2s ease-in-out;
}

.subscr__input input:focus + label,
.login-form__input input:focus + label {
    padding: 3px 5px;
}

.subscr__check label {
    position: relative;
    padding-left: 32px;
}

.subscr__check label:before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    line-height: 1;
    text-align: center;
}

.subscr__check input[type=checkbox]:checked + label:before {
    content: '✓'
}

.overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    display: none;
}

.dialog {
    background-color: #ffffff;
    width: 800px;
    padding: 70px 150px 80px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20%);
}

.dialog-close {
    position: absolute;
    top: 30px;
    right: 40px;
    font-weight: bold;
    color: #5D16D5;
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 40px;
}

.login-form__input {
    margin-bottom: 40px;
    position: relative;
}

.login-form__btn {
    width: 100%;
}

.error-text {
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 13px;
    color: #5D16D5;
}